@model IEnumerable<MyTinyCollege.Models.Department>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lack of Student Services</h1>
    <p class="lead">Tiny College specializes in rapid fire turnover of key staff, to ensure you are always guessing about your future.</p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Apply Now</h2>
        <p>
            Sign on the dotted line! We guarentee we will help you find a job. Just don't count on knowing about it until a couple of days before you have to start! Know where you want to go, let us know! Worked out a placement on your own? Good luck with that, we will get to them eventually.
        </p>
        <p><a class="btn btn-default" href="#">Apply &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Campus!</h2>
        <p>How could you go wrong? We know you value your future, that is why you are looking at a professional education. We guarantee placement rates of over 90%. Count on us! Come see our shiny new building! We would rather shine than hire good student services!</p>
        <p><a class="btn btn-default" href="#">Book a time &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Programs</h2>
        <p>Hey, our student services may suck, but our programs are pretty good. You will learn a lot, just the kind of stuff you want to. Trust us. Follow the shiny surfaces, you are getting sleepy, very sleepy....just sign here....That's a good student. You know what to do.</p>
        <p><a class="btn btn-default" href="#">Our Programs &raquo;</a></p>
    </div>
</div>

<div class="row">
    <h2>Faculties</h2>
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-3 center-block">
            <div class="thumbnail">
                <img src="~/DeptPics/@(item.DepartmentID).png" alt="@item.Name"/>
                <div class="caption">
                    <a href="@Url.Action("Index", "Course", new {  SelectedDepartment = item.DepartmentID } )"><h4>@item.Name</h4></a>
                </div>
            </div>
        </div>
    }
</div>